<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itdr.mapper.MerchantMapper" >
  <resultMap id="BaseResultMap" type="com.itdr.pojo.Merchant" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchantname" property="merchantname" jdbcType="VARCHAR" />
    <result column="merchantshopname" property="merchantshopname" jdbcType="VARCHAR" />
    <result column="merchantaccount" property="merchantaccount" jdbcType="VARCHAR" />
    <result column="merchantpassword" property="merchantpassword" jdbcType="VARCHAR" />
    <result column="merchantscope" property="merchantscope" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, merchantname, merchantshopname, merchantaccount, merchantpassword, merchantscope
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from msmerchant
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectBymerchantaccount" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from msmerchant
    where merchantaccount = #{merchantaccount,jdbcType=VARCHAR}
  </select>
  <sql id="consutomsql" >
    <if test="constomMerchant != null">
      <if test="constomMerchant.merchantname!=null and constomMerchant.merchantname!=''">
        and merchantname = "${constomMerchant.merchantname}"
      </if>
      <if test="constomMerchant.merchantshopname!=null and constomMerchant.merchantshopname!='' ">
        and merchantshopname = "${constomMerchant.merchantshopname}"
      </if>
      <if test="constomMerchant.merchantaccount!=null and constomMerchant.merchantaccount!='' ">
        and merchantaccount = "${constomMerchant.merchantaccount}"
      </if>
      <if test="constomMerchant.merchantpassword!=null and constomMerchant.merchantpassword!='' ">
        and merchantpassword = "${constomMerchant.merchantpassword}"
      </if>
      <if test="constomMerchant.merchantscope!=null and constomMerchant.merchantscope!='' ">
        and merchantscope = "${constomMerchant.merchantscope}"
      </if>
    </if>
  </sql>

  <select id="selectByvo" resultMap="BaseResultMap" parameterType="com.itdr.pojo.vo.MerchantVo">
    select
    <include refid="Base_Column_List" />
    from msmerchant
    <where>
      <include refid="consutomsql"></include>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from msmerchant
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.itdr.pojo.Merchant" >
    insert into msmerchant (id, merchantname, merchantshopname, 
      merchantaccount, merchantpassword, merchantscope
      )
    values (#{id,jdbcType=INTEGER}, #{merchantname,jdbcType=VARCHAR}, #{merchantshopname,jdbcType=VARCHAR}, 
      #{merchantaccount,jdbcType=VARCHAR}, #{merchantpassword,jdbcType=VARCHAR}, #{merchantscope,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itdr.pojo.Merchant" >
    insert into msmerchant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merchantname != null" >
        merchantname,
      </if>
      <if test="merchantshopname != null" >
        merchantshopname,
      </if>
      <if test="merchantaccount != null" >
        merchantaccount,
      </if>
      <if test="merchantpassword != null" >
        merchantpassword,
      </if>
      <if test="merchantscope != null" >
        merchantscope,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merchantname != null" >
        #{merchantname,jdbcType=VARCHAR},
      </if>
      <if test="merchantshopname != null" >
        #{merchantshopname,jdbcType=VARCHAR},
      </if>
      <if test="merchantaccount != null" >
        #{merchantaccount,jdbcType=VARCHAR},
      </if>
      <if test="merchantpassword != null" >
        #{merchantpassword,jdbcType=VARCHAR},
      </if>
      <if test="merchantscope != null" >
        #{merchantscope,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itdr.pojo.Merchant" >
    update msmerchant
    <set >
      <if test="merchantname != null" >
        merchantname = #{merchantname,jdbcType=VARCHAR},
      </if>
      <if test="merchantshopname != null" >
        merchantshopname = #{merchantshopname,jdbcType=VARCHAR},
      </if>
      <if test="merchantaccount != null" >
        merchantaccount = #{merchantaccount,jdbcType=VARCHAR},
      </if>
      <if test="merchantpassword != null" >
        merchantpassword = #{merchantpassword,jdbcType=VARCHAR},
      </if>
      <if test="merchantscope != null" >
        merchantscope = #{merchantscope,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itdr.pojo.Merchant" >
    update msmerchant
    set merchantname = #{merchantname,jdbcType=VARCHAR},
      merchantshopname = #{merchantshopname,jdbcType=VARCHAR},
      merchantaccount = #{merchantaccount,jdbcType=VARCHAR},
      merchantpassword = #{merchantpassword,jdbcType=VARCHAR},
      merchantscope = #{merchantscope,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>