<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itdr.mapper.ProductsMapper" >
  <resultMap id="BaseResultMap" type="com.itdr.pojo.Products" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="productid" property="productid" jdbcType="INTEGER" />
    <result column="producttitle" property="producttitle" jdbcType="VARCHAR" />
    <result column="productpicture" property="productpicture" jdbcType="VARCHAR" />
    <result column="miaoshaprice" property="miaoshaprice" jdbcType="INTEGER" />
    <result column="originalprice" property="originalprice" jdbcType="INTEGER" />
    <result column="merchantid" property="merchantid" jdbcType="INTEGER" />
    <result column="applydate" property="applydate" jdbcType="TIMESTAMP" />
    <result column="auditdate" property="auditdate" jdbcType="TIMESTAMP" />
    <result column="auditstatus" property="auditstatus" jdbcType="INTEGER" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="starttimestring" property="starttimestring" jdbcType="VARCHAR" />
    <result column="endtimestring" property="endtimestring" jdbcType="VARCHAR" />
    <result column="productcount" property="productcount" jdbcType="INTEGER" />
    <result column="stockcount" property="stockcount" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, productid, producttitle, productpicture,miaoshaprice, originalprice, merchantid, applydate,
    auditdate, auditstatus, starttime, endtime, productcount, stockcount, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from msproductinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <sql id="consutomsql" >
    <if test="constomProduct != null">
      <if test="constomProduct.productid!=null and constomProduct.productid!=''">
        and productid = "${constomProduct.productid}"
      </if>
      <if test="constomProduct.producttitle!=null and constomProduct.producttitle!='' ">
        and producttitle  like "%${constomProduct.producttitle}%"
      </if>
      <if test="constomProduct.startmiaoshaprice!=null and constomProduct.startmiaoshaprice!='' ">
        and miaoshaprice <![CDATA[ >= ]]> "${constomProduct.startmiaoshaprice}"
      </if>
      <if test="constomProduct.endmiaoshaprice!=null and constomProduct.endmiaoshaprice!='' ">
        and miaoshaprice <![CDATA[ <= ]]> "${constomProduct.endmiaoshaprice}"
      </if>
      <if test="constomProduct.startoriginalprice!=null and constomProduct.startoriginalprice!='' ">
        and originalprice <![CDATA[ >= ]]> "${constomProduct.startoriginalprice}"
      </if>
      <if test="constomProduct.endoriginalprice!=null and constomProduct.endoriginalprice!='' " >
        and originalprice <![CDATA[ <= ]]> "${constomProduct.endoriginalprice}"
      </if>
      <if test="constomProduct.endstockcount!=null and constomProduct.endstockcount!='' ">
        and stockcount <![CDATA[ <= ]]> "${constomProduct.endstockcount}"
      </if>
      <if test="constomProduct.description!=null and constomProduct.description!=''">
        and description like "%${constomProduct.description}%"
      </if>
      <if test="constomProduct.endapplydate!=null and constomProduct.endapplydate!='' ">
        and applydate <![CDATA[ <= ]]> "${constomProduct.endapplydate}"
      </if>

      <if test="constomProduct.endauditdate!=null and constomProduct.endauditdate!='' ">
        and auditdate <![CDATA[ <= ]]> "${constomProduct.endauditdate}"
      </if>
      <if test="constomProduct.startapplydate!=null and constomProduct.startapplydate!='' ">
        and applydate <![CDATA[ >= ]]> "${constomUser.startapplydate}"
      </if>
      <if test="constomProduct.startauditdate!=null and constomProduct.startauditdate!='' ">
        and auditdate <![CDATA[ >= ]]> "${constomProduct.startauditdate}"
      </if>
      <if test="constomProduct.auditstatus!=null and constomProduct.auditstatus!='' ">
        and auditstatus = "${constomProduct.auditstatus}"
      </if>
      <if test="constomProduct.startstarttime!=null and constomProduct.startstarttime!='' ">
        and starttime <![CDATA[ >= ]]> "${constomProduct.startstarttime}"
      </if>
      <if test="constomProduct.endstarttime!=null and constomProduct.endstarttime!='' ">
        and starttime <![CDATA[ <= ]]> "${constomProduct.endstarttime}"
      </if>
      <if test="constomProduct.startendtime!=null and constomProduct.startendtime!='' ">
        and endtime <![CDATA[ >= ]]> "${constomProduct.startendtime}"
      </if>
      <if test="constomProduct.endendtime!=null and constomProduct.endendtime!='' ">
        and endtime <![CDATA[ <= ]]> "${constomProduct.endendtime}"
      </if>
      <if test="constomProduct.startproductcount!=null and constomProduct.startproductcount!='' ">
        and productcount <![CDATA[ >= ]]> "${constomProduct.startproductcount}"
      </if>
      <if test="constomProduct.endproductcount!=null and constomProduct.endproductcount!='' ">
        and productcount <![CDATA[ <= ]]> "${constomProduct.endproductcount}"
      </if>
      <if test="constomProduct.startstockcount!=null and constomProduct.startstockcount!='' ">
        and stockcount <![CDATA[ >= ]]> "${constomProduct.startstockcount}"
      </if>
      <if test="constomProduct.endstockcount!=null and constomProduct.endstockcount!='' ">
        and stockcount <![CDATA[ <= ]]> "${constomProduct.endstockcount}"
      </if>
    </if>
  </sql>
  <select id="selectByvo" resultMap="BaseResultMap" parameterType="com.itdr.pojo.vo.ProductVo">
    select
    <include refid="Base_Column_List" />
    from msproductinfo
    <where>
      <include refid="consutomsql"></include>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from msproductinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.itdr.pojo.Products" >
    insert into msproductinfo (id, productid, producttitle, 
      productpicture,miaoshaprice, originalprice, merchantid,
      applydate, auditdate, auditstatus, 
      starttime, endtime, productcount, 
      stockcount, description)
    values (#{id,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{producttitle,jdbcType=VARCHAR}, 
      #{productpicture,jdbcType=VARCHAR},#{miaoshaprice,jdbcType=INTEGER}, #{originalprice,jdbcType=INTEGER}, #{merchantid,jdbcType=INTEGER},
      #{applydate,jdbcType=TIMESTAMP}, #{auditdate,jdbcType=TIMESTAMP}, #{auditstatus,jdbcType=INTEGER}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{productcount,jdbcType=INTEGER}, 
      #{stockcount,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.itdr.pojo.Products" >
    insert into msproductinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productid != null" >
        productid,
      </if>
      <if test="producttitle != null" >
        producttitle,
      </if>
      <if test="productpicture != null" >
        productpicture,
      </if>
      <if test="miaoshaprice != null" >
        miaoshaprice,
      </if>
      <if test="originalprice != null" >
        originalprice,
      </if>
      <if test="merchantid != null" >
        merchantid,
      </if>
      <if test="applydate != null" >
        applydate,
      </if>
      <if test="auditdate != null" >
        auditdate,
      </if>
      <if test="auditstatus != null" >
        auditstatus,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="productcount != null" >
        productcount,
      </if>
      <if test="stockcount != null" >
        stockcount,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="producttitle != null" >
        #{producttitle,jdbcType=VARCHAR},
      </if>
      <if test="productpicture != null" >
        #{productpicture,jdbcType=VARCHAR},
      </if>
      <if test="miaoshaprice != null" >
        #{miaoshaprice,jdbcType=INTEGER},
      </if>
      <if test="originalprice != null" >
        #{originalprice,jdbcType=INTEGER},
      </if>
      <if test="merchantid != null" >
        #{merchantid,jdbcType=INTEGER},
      </if>
      <if test="applydate != null" >
        #{applydate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditdate != null" >
        #{auditdate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditstatus != null" >
        #{auditstatus,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="productcount != null" >
        #{productcount,jdbcType=INTEGER},
      </if>
      <if test="stockcount != null" >
        #{stockcount,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itdr.pojo.Products" >
    update msproductinfo
    <set >
      <if test="productid != null" >
        productid = #{productid,jdbcType=INTEGER},
      </if>
      <if test="producttitle != null" >
        producttitle = #{producttitle,jdbcType=VARCHAR},
      </if>
      <if test="productpicture != null" >
        productpicture = #{productpicture,jdbcType=VARCHAR},
      </if>
      <if test="miaoshaprice != null" >
        miaoshaprice = #{miaoshaprice,jdbcType=INTEGER},
      </if>
      <if test="originalprice != null" >
        originalprice = #{originalprice,jdbcType=INTEGER},
      </if>
      <if test="merchantid != null" >
        merchantid = #{merchantid,jdbcType=INTEGER},
      </if>
      <if test="applydate != null" >
        applydate = #{applydate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditdate != null" >
        auditdate = #{auditdate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditstatus != null" >
        auditstatus = #{auditstatus,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="productcount != null" >
        productcount = #{productcount,jdbcType=INTEGER},
      </if>
      <if test="stockcount != null" >
        stockcount = #{stockcount,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itdr.pojo.Products" >
    update msproductinfo
    set productid = #{productid,jdbcType=INTEGER},
      producttitle = #{producttitle,jdbcType=VARCHAR},
      productpicture = #{productpicture,jdbcType=VARCHAR},
      miaoshaprice = #{miaoshaprice,jdbcType=INTEGER},
      originalprice = #{originalprice,jdbcType=INTEGER},
      merchantid = #{merchantid,jdbcType=INTEGER},
      applydate = #{applydate,jdbcType=TIMESTAMP},
      auditdate = #{auditdate,jdbcType=TIMESTAMP},
      auditstatus = #{auditstatus,jdbcType=INTEGER},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      productcount = #{productcount,jdbcType=INTEGER},
      stockcount = #{stockcount,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>